.background { font-family: 'Tiro Devanagari Sanskrit', serif;
  background-image: url("immagini/sfondo.jpg");
  margin: 0px;
  width: 100%;
  background-size: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  }
#bandatop {
  border-bottom: 3px solid red; 
  background-color: white;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  height: 75px;
  margin: auto;
}
.bandiere {
  max-width: 45px;
  mix-width: 15px;
  max-height: 30px;
  mix-height: 10px;
  float: left;
  margin: 20px -15px 0px 35px;
}
#logo{
  max-height: 80px;
  mix-width: 10px;
  max-width: 140px;
  mix-width: 20px;
  float: right;
  margin-top: -5px;
  padding:3px;
}

@media screen and (max-width: 690px) {
  #bandatop {
    border-bottom: 3px solid red; 
  background-color: white;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  height: 75px;
  margin: auto;
  }
  .bandiere {
  max-width: 45px;
  mix-width: 15px;
  max-height: 30px;
  mix-height: 10px;
  float: left;
  }
#logo{
  max-height: 80px;
  mix-width: 15px;
  max-width: 140px;
  mix-width: 25px;
  float: right;
  margin-top: -5px;
  margin-left: 15px;
  }
}

#boxtondo{
  border:3px solid white;
  min-width: 100px;
  max-width: 600px; 
  margin: auto;
  text-align: center;
  background-color: #D4E4F7;
  border-radius: 10px; 
  padding:10px;
}
.animazione{
 min-width: 100px;
 max-width: 600px;
 text-align: center;
 border-radius: 10px;
 margin: auto;
 padding:5px;
 animation-name: example;
 animation-duration: 10s;
}
@keyframes example{
  0%   {border:3px solid red;border-radius: 10px}
  25%  {border:3px solid yellow;border-radius: 10px}
  50%  {border:3px solid blue;border-radius: 10px}
  100% {border:3px solid green;border-radius: 10px}
}
@media screen and (max-width: 690px) 
{
  #boxtondo{ 
  min-width: 100px;
  max-width: 580px;
  margin: auto;
  text-align: center;
  background-color: #D4E4F7;
  border-radius: 10px;
  padding:5px;
  }
  
  h1 { color: black; 
  font-size:36px;
  text-align: center;
  margin-top: 10px; 
  text-shadow: 0px 0px 10px white;
  }
  
h8 {color: black;
  font-size: 16px;
  font-family: Helvetica;
  text-align: center;
  margin-top: 10px; 
  text-shadow: 0px 0px 10px white;}
}
  
#spazio{
  padding-top: 150px;
  margin: auto;
  min-width: 1001px;
  max-width: 1200px;
}
#spazio{
  padding-top: 50px;
  margin: auto;
  height: 80px;
  width: 70px;}
  
@media screen and (max-width: 400px) 
  
#bottoncinocookie {
  position: fixed;
  top: 120px;
  left: 20px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  color: white;
  font-size:10px;
  background-color: black;
  margin: 2px solid white;
  width: 200px;
  padding: 15px
}
#perchiudere{
  font-size: 15px;
  margin-left: 185px;
}
#spazio1{
  padding-top: 40px;
  margin: auto;
  width: -50px;
  height: -70px;
}
h3{
  color: white;
  text-align: center;
  font-family:Helvetica;
}
h5 { 
  color: white;
  font-size:12px;
  font-family:Helvetica;
  text-align: center;
 }
#box1{
  min-width: 100px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  background-color: orange;
  border-radius: 10px; 
  padding: 15px;
}
.tasto{
  display: inline-block;
  margin: 25px 50px 20px -15px;
  color: black;
}

@media screen and (max-width: 690px) {
  #box1{
    background-color: orange;
    min-width: 100px;
    max-width: 1200px;
    margin: auto;
    heigh: auto;
    border-radius:10px;
    text-align:center;
    padding: 15px;
  }
.box1{
   background-color: black;
   padding: 30px;
   color: white;
   min-width: 100px;
   max-width: 1200px;
   margin: 20px auto 0px auto;
  border-radius:10px;
  padding:20px;
  background-color: black;
  padding: 30px;
  color: white;
  min-width: 100px;
  max-width: 1200px;
  margin: 20px auto 0px auto;
  heigh: auto;
  border-radius:70px 0px 70px 70px;
}
.box2{
   background-color: black;
   padding: 30px;
   color: white;
   min-width: 100px;
   max-width: 1200px;
   margin: 20px auto 0px auto;
  border-radius:10px;
  padding:20px;
  background-color: black;
  padding: 30px;
  color: white;
  min-width: 100px;
  max-width: 1200px;
  margin: 20px auto 0px auto;
  border-radius:0px 70px 70px 70px;
}
a:link{
  color:white;
  text-decoration: none;
}
a:hover{
  color: black !important;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}
h4{
  font-size:12px;
  font-family:Helvetica;
  letter-spacing: 5px; 
  margin-top: 10px;
 }
h2{
  border-left: 10px solid orange;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size:35px;
}
.scritta1{
  display: inline-block;
  width: 550px;
}
h6{
  font-size:14px;
  font-family:Helvetica;
  margin-top: 10px;
 }
.video {width: 50%; 
  height: 35%;
  margin:auto;
  display: inline-block;
  }
.immagine {width: 500px; 
  height: 250px;
  margin-left: 80px;
  margin-top: 25px;
  display: inline-block;
  }
.scritta2{
  display: inline-block; 
  margin-left: 700px;
  margin-top: -700px;
}
@media screen and (max-width: 1240px) {
  .box1{
    background-color: black;
    padding: 20px;
    color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px 5px 0px 5px;
    heigh: auto;
    border-radius:70px 0px 70px 70px;
    text-align:center;
  }
  
#boxtondo1 {border:4px solid white;
  width: 600px;
  height: 75px;
  text-align: center;
  background-color: orange;
  border-radius: 10px;
  opacity: 0.9;  
 }
h7{
  font-size:36px;
  color: white;
   margin: auto;
  text-align: center;
 }
.dipartimenti {background-color: black;
   padding: 30px;
   color: white;
   min-width: 1000px;
   max-width: 1200px;
   margin: 20px auto 0px auto;
  border-radius:10px;
}
#pittura{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 150px;
  width: 400px;
  margin-left: 90px;
  margin-top: 40px;
  display: inline-block;
}
u{ color: orange;}
#grafica{
   border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 150px;
  width: 400px;
  margin-left: 150px;
  margin-top: 40px;
  display: inline-block;
}
#scenografia{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 400px;
  margin-left: 100px;
  margin-top: 40px;
  display: inline-block;
}
#impresa{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 280px;
  width: 400px;
  margin-left: 150px;
  margin-top: 40px;
  display: inline-block;
}
#tecnologie{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 400px;
  margin-left: 100px;
  margin-top: 40px;
  display: inline-block;
}
#comunicazione{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 400px;
  margin-left: 380px;
  margin-top: 40px;
  display: inline-block;
}
#bottoncinocookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  color: white;
  font-size:10px;
  background-color: black;
  margin: 2px solid white;
  width: 200px;
  padding: 15px;
  display:none;
}
#perchiudere{
  font-size: 15px;
  margin-left: 185px;
}
#freccina{
  padding: 40px;
}
#map {
  width: 1000px;
  height: 250px;
  margin-left:50px
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  width: 100%;
  padding: 5px;
}
#map {
    width: 100%;
    height: 200px;
    margin: 40px auto 0px auto;
  }
  
  .top {
  color: white;
  background-color: none;
  position: fixed-right;
  bottom: 20px;
  right: 40px;
  text-align: center;
}
