.background { font-family: 'Tiro Devanagari Sanskrit', serif;
  background-image: url("immagini/sfondo.jpg");
  margin: 0px;
  width: 100%;
  background-size: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  }
#bandatop{
  border-bottom: 3px solid red; 
  background-color: white;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  max-height: 75%;
  min-heght: 5%;
  margin: auto;
}
.bandiere{
  max-width: 45px;
  mix-width: 10px;
  max-height: 30px;
  mix-height: 5px;
  float: left;
  margin: 20px -15px 0px 30px;
}
#logo{
  max-height: 80px;
  mix-width: 5px;
  max-width: 140px;
  mix-width: 10px;
  float: right;
  margin: -5px 30px 0px 0px;
}




#spazio{
  padding-top: 100px;
 }
.boxtondo{
  border:3px solid white;
  min-width: 100px;
  max-width: 600px; 
  margin: 0px auto 70px auto;
  text-align: center;
  background-color: #D4E4F7;
  border-radius: 10px; 
  padding:10px;
}
 a:link1{
  color: white;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}
a:visited{
  color: blue;
  text-decoration: none;
}
.animazione{
 min-width: 100px;
 max-width: 600px;
 text-align: center;
 border-radius: 10px;
 margin: auto;
 padding:5px;
 animation-name: example;
 animation-duration: 10s;
}
@keyframes example{
  0%   {border:3px solid red;border-radius: 10px}
  25%  {border:3px solid yellow;border-radius: 10px}
  50%  {border:3px solid blue;border-radius: 10px}
  100% {border:3px solid green;border-radius: 10px}
}
h1{ 
  color: black; 
  font-size:36px;
  text-align: center;
  margin-top: 10px; 
  text-shadow: 0px 0px 10px white;
  }




#box1{
  min-width: 100px;
  max-width: 950px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: orange;
  border-radius: 10px; 
  padding: 5px;
}
h3{
  color: white;
  font-size:35px;
  text-align: center;
  font-family:Helvetica;
}
.tasto{
  display: inline-block;
  margin: 25px 50px 20px -15px;
  color: black;
}
.tasto i{
    font-size:55px;
  }
.tasto h3{ 
    font-size:20px;
    color: white;
  }


#boxtotale1{
   background-color: orange;
   padding: 10px;
   max-width: 690px;
   min-width: 100px;
   height: auto;
   margin: 50px auto;
   border-radius:10px;
}
#box2{
   background-color: black;
   padding: 30px;
   max-width: 600px;
   min-width: 100px;
   height: auto;
   margin: 20px auto 0px auto;
   border-radius:10px;
}
#box3{
   background-color: black;
   padding: 30px;
   max-width: 600px;
   min-width: 100px;
   height: auto;
   margin: 20px auto 20px auto;
   border-radius:10px;
}
a:link{
  color:white;
  text-decoration: none;
}
a:hover{
  color: orange;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
 }
h4{
  font-size:12px;
  font-family:Helvetica;
  letter-spacing: 5px; 
  margin-top: 10px;
 }
h2{
  border-left: 10px solid orange;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size:35px;
}
.scritta1{
  width: 550px;
  color: white;
}
.video {
   border-radius:10px;
   width: auto;
   height: 354px;
  }
iframe {
  height:350px;
}
.immagine {
    width: 80%;
    height: 200px;
    border-radius:10px;
  }
.scritta2{
    width: 550px;
    color: white;
}


#titdipart{
  background-color: #D4E4F7;
  margin:auto;
  padding: 10px;
  text-align:center;
  border-radius:10px;
  height:35px;
  width: 300px;
}
p2{
    font-size:30px;
    color: white;
}
.dipartimenti {
   background-color: black;
   padding: 30px;
   color: white;
   min-width: 1000px;
   max-width: 800px;
   margin: 20px auto 0px auto;
   border-radius:10px;
   text-align:center;
}
#boxscuole{
  border-radius:10px;
  border: 3px solid orange;
  text-align: center;
  padding: 20px;
  height: auto;
  width: 150px;
  margin-top: 40px;
  display: inline-block;
}
p .titoloscuole {
    font-size:50px;
    color: black;
}
p .scuole {
    font-size:30px;
    color: black;
}


.box4{
  background-color:black;
  text-color: white;
  margin: 40px auto;
  padding: 20px;
}



#bottoncinocookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  color: white;
  font-size:10px;
  background-color: black;
  margin: 2px solid white;
  width: 200px;
  padding: 15px;
  display:none;
}
#perchiudere{
  font-size: 15px;
  margin-left: 185px;
}
#freccina{
  padding: 40px;
}
#map {
  width: 1000px;
  height: 250px;
  margin-left:50px
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  width: 100%;
  padding: 5px;
}
#map {
    width: 100%;
    height: 200px;
    margin: 40px auto 0px auto;
  }
  
  .top {
  color: white;
  background-color: none;
  position: fixed-right;
  bottom: 20px;
  right: 40px;
  text-align: center;
}
